.env
compiled
coverage
node_modules
node_modules/
compiled/
__pycache__/
.venv/
temp/
.env
*.aux
*.fdb_latexmk
*.out
*.fls
*.log
*.toc
**/*.html
content/**/*.pdf
content/**/*.tex
content/static/css/output.css
shindig/
shindig-docker/
out/
**/pollen-latex-work/
content/sqlite
latex/