.env
compiled
coverage
node_modules
node_modules/
compiled/
__pycache__/
.venv/
temp/
.env
*.aux
*.log
**/*.html
content/**/*.pdf
content/**/*.ltx
content/static/css/output.css
shindig/
shindig-docker/
out/
**/pollen-latex-work/
