.env
compiled
coverage
node_modules
node_modules/
compiled/
__pycache__/
.venv/
temp/
.env
*.aux
*.fdb_latexmk
*.out
*.fls
*.log
*.toc
*.html
*.tex
*.listing
*.ptree
*.idx
*.ilg
*.ind
content/**/*.pdf
content/**/*.tex
content/static/css/output.css
shindig/
shindig-docker/
out/
**/pollen-latex-work/
content/sqlite
latex/
content/static/media/images/qr-codes/*
!content/static/media/images/qr-codes/.gitkeep