<h1 class="text-3xl mb-4 font-bold sm:text-4xl lg:text-5xl">Page 3</h1>
<div class="content">
    <form id="dbcf89c7-839c-424c-ba8e-048267c5e305"
          hx-post="{% url 'check_answers' %}"
          hx-target="body"
          hx-include="#dbcf89c7-839c-424c-ba8e-048267c5e305">
        <p>{% csrf_token %}This is a multiple-choice question</p>
        <div class="space-y-2 mb-6"></div>
        <div class="flex items-center">
            <input type="checkbox"
                   id="dbcf89c7-839c-424c-ba8e-048267c5e305-1"
                   name="dbcf89c7-839c-424c-ba8e-048267c5e305"
                   value="dbcf89c7-839c-424c-ba8e-048267c5e305-1"
                   class="checkbox mr-6" />
            <label for="dbcf89c7-839c-424c-ba8e-048267c5e305-1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </label>
        </div>
        <div class="divider"></div>
        <div class="flex items-center">
            <input type="checkbox"
                   id="dbcf89c7-839c-424c-ba8e-048267c5e305-2"
                   name="dbcf89c7-839c-424c-ba8e-048267c5e305"
                   value="dbcf89c7-839c-424c-ba8e-048267c5e305-2"
                   class="checkbox mr-6" />
            <label for="dbcf89c7-839c-424c-ba8e-048267c5e305-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </label>
        </div>
        <div class="divider"></div>
        <div class="flex items-center">
            <input type="checkbox"
                   id="dbcf89c7-839c-424c-ba8e-048267c5e305-3"
                   name="dbcf89c7-839c-424c-ba8e-048267c5e305"
                   value="dbcf89c7-839c-424c-ba8e-048267c5e305-3"
                   class="checkbox mr-6" />
            <label for="dbcf89c7-839c-424c-ba8e-048267c5e305-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </label>
        </div>
        <div class="divider"></div>
        <div class="flex items-center">
            <input type="checkbox"
                   id="dbcf89c7-839c-424c-ba8e-048267c5e305-4"
                   name="dbcf89c7-839c-424c-ba8e-048267c5e305"
                   value="dbcf89c7-839c-424c-ba8e-048267c5e305-4"
                   class="checkbox mr-6" />
            <label for="dbcf89c7-839c-424c-ba8e-048267c5e305-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </label>
        </div>
        <p>
            <button type="submit" class="btn">Submit!</button>
        </p>
    </form>
</div>
