<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Your description here" />
        <meta name="keywords" content="keyword1, keyword2, keyword3" />
        <title>Honeycomb</title>
        <link rel="icon" href="/shindig-template/static/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/shindig-template/static/css/output.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    </head>
    <body hx-boost="true" hx-ext="multi-swap,preload">
        <main>
            <div id="main">
                <h1>How do we measure velocity?</h1>
                <div class="content"><div>
                                       <p>How is the average velocity of a moving object connected to the values of its position
                                       function?</p>
                                       <p>How do we interpret the average velocity of an object geometrically on the graph of its
                                       position function?</p>
                                       <p>How is the notion of instantaneous velocity connected to average velocity?</p>
                                     </div>
                                     <p><strong>Wow look at me!!!</strong> I'm so impressive!</p>
                                     <p>Here's another!! <a class="reference-link" script=
                                     "on click get the next .definition-avg-velocity-preview-container toggle .expanded on it on htmx:afterRequest add .htmx-added to the next .definition-avg-velocity-preview-container" 
                                     hx-get="/shindig-template/knowl/definition/avg-velocity" hx-target=
                                     "next .definition-avg-velocity-preview" hx-trigger="click once" preload="mouseover">Average
                                     Velocity</a> and hopefully this thing turns out OK!</p>
                                     <div class="reference-container definition-avg-velocity-preview-container">
                                       <div>
                                         <div class="reference-subcontainer">
                                           <div class="definition-avg-velocity-preview">

                                           </div>
                                           <a href="/shindig-template/lesson/how-do-we-measure-velocity#definition-avg-velocity" hx-get=
                                           "/shindig-template/lesson/how-do-we-measure-velocity#definition-avg-velocity" hx-target=
                                           "#main" hx-select="#main" hx-push-url="true" @click=
                                           "activePage = '/shindig-template/lesson//app/content/chapter/2-my-second-chapter/how-do-we-measure-velocity'" 
                                           :class=
                                           "{ 'active': activePage === '/shindig-template/lesson//app/content/chapter/2-my-second-chapter/how-do-we-measure-velocity' }">View
                                           in context</a>
                                         </div>
                                       </div>
                                     </div>
                                     <p>Calculus can be viewed broadly as the study of change. A natural and important question to ask
                                     about any changing quantity is “how fast is the quantity changing?”</p>
                                     <p>I'd like to reference something on another page <a class="reference-link" script=
                                     "on click get the next .definition-avg-velocity-preview-container toggle .expanded on it on htmx:afterRequest add .htmx-added to the next .definition-avg-velocity-preview-container" 
                                     hx-get="/shindig-template/knowl/definition/avg-velocity" hx-target=
                                     "next .definition-avg-velocity-preview" hx-trigger="click once" preload="mouseover">Average
                                     Velocity</a> and hopefully this thing turns out OK!</p>
                                     <div class="reference-container definition-avg-velocity-preview-container">
                                       <div>
                                         <div class="reference-subcontainer">
                                           <div class="definition-avg-velocity-preview">

                                           </div>
                                           <a href="/shindig-template/lesson/how-do-we-measure-velocity#definition-avg-velocity" hx-get=
                                           "/shindig-template/lesson/how-do-we-measure-velocity#definition-avg-velocity" hx-target=
                                           "#main" hx-select="#main" hx-push-url="true" @click=
                                           "activePage = '/shindig-template/lesson//app/content/chapter/2-my-second-chapter/how-do-we-measure-velocity'" 
                                           :class=
                                           "{ 'active': activePage === '/shindig-template/lesson//app/content/chapter/2-my-second-chapter/how-do-we-measure-velocity' }">View
                                           in context</a>
                                         </div>
                                       </div>
                                     </div>
                                     <p>Here's another!! <a class="reference-link" script=
                                     "on click get the next .definition-avg-velocity-preview-container toggle .expanded on it on htmx:afterRequest add .htmx-added to the next .definition-avg-velocity-preview-container" 
                                     hx-get="/shindig-template/knowl/definition/avg-velocity" hx-target=
                                     "next .definition-avg-velocity-preview" hx-trigger="click once" preload="mouseover">Average
                                     Velocity</a> and hopefully this thing turns out OK!</p>
                                     <div class="reference-container definition-avg-velocity-preview-container">
                                       <div>
                                         <div class="reference-subcontainer">
                                           <div class="definition-avg-velocity-preview">

                                           </div>
                                           <a href="/shindig-template/lesson/how-do-we-measure-velocity#definition-avg-velocity" hx-get=
                                           "/shindig-template/lesson/how-do-we-measure-velocity#definition-avg-velocity" hx-target=
                                           "#main" hx-select="#main" hx-push-url="true" @click=
                                           "activePage = '/shindig-template/lesson//app/content/chapter/2-my-second-chapter/how-do-we-measure-velocity'" 
                                           :class=
                                           "{ 'active': activePage === '/shindig-template/lesson//app/content/chapter/2-my-second-chapter/how-do-we-measure-velocity' }">View
                                           in context</a>
                                         </div>
                                       </div>
                                     </div>
                                     <p>We begin with a simple problem: a ball is tossed straight up in the air. How is the ball moving?
                                     Questions like this one are central to our study of differential calculus.</p>
                                     <p><preview-activity name="1.1">This is a preview actviity! Wahooo!!</preview-activity></p>
                                     <p>
                                     <h2 class="section">Position and average velocity</h2>
                                     </p>
                                     <p>Any moving object has a <index>position</index> that can be considered a function of
                                     <em>time</em>. When the motion is along a straight line, the position is given by a single variable,
                                     which we denote by <script type="math/tex; mode=text">\(s(t)\)</script>
                                     .</p>
                                     <p>For example, <script type="math/tex; mode=text">\(s(t)\)</script>
                                     might give the mile marker of a car traveling on a straight highway at time <script type=
                                     "math/tex; mode=text">\(t\)</script>
                                     in hours. Similarly, the function <script type="math/tex; mode=text">\(s\)</script>
                                     described in<br>
                                     is a position function, where position is measured vertically relative to the ground.</p>
                                     <p>In general, we make the following definition:</p>
                                     <div id="definition-avg-velocity" class="knowl-container">
                                       <div class="knowl">
                                             <strong>Average Velocity</strong><div>
                                           <p>For an object moving in a straight line with position function, the average velocity of the
                                                 object on the interval from <script type="math/tex; mode=text">\(t=a\)</script>
                                           to <script type="math/tex; mode=text">\(t=b\)</script>
                                           , denoted <script type="math/tex; mode=text">\(AV_{[a,b]}\)</script>
                                     , is given by the formula</p>
                                           <div class="flex justify-center">
                                             <div class="inline-block">
                                               <script type=
                                               "math/tex; mode=display">\[AV_{[a,b]} = \frac{s(b) - s(a)}{b - a}.\]</script>
                                             </div>
                                           </div>
                                         </div>
                                       </div>
                                     </div>
                </div>
            </div>
        </main>
        <script src="https://unpkg.com/htmx.org@1.9.10"
                integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/multi-swap.js"></script>
        <script src="https://unpkg.com/htmx-ext-debug@2.0.0/debug.js"></script>
        <script src="https://unpkg.com/htmx-ext-preload@2.0.1/preload.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script defer type="module">
            const renderMath = () => import('//unpkg.com/mathlive?module').then(mathlive => mathlive.renderMathInDocument());

            window.addEventListener('DOMContentLoaded', renderMath);
            document.addEventListener('htmx:afterRequest', renderMath);
        </script>
        <!-- for scrolling to references -->
    </body>
</html>