@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/* to fix jerky motion on scrollbar appearance */
body { overflow-y: scroll; }
.reference-container > * {
  overflow: hidden;
}
.reference-container {
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-color: oklch(var(--b3));
  background-color: none;
  display: grid;
  grid-template-rows: 0fr;
  transition: 500ms grid-template-rows, 500ms margin, 500ms background-color, 100ms border-width;
}
.reference-container.expanded.htmx-added {
  margin-top: 1.5em; /* TODO: change to paragraph sep */
  margin-bottom: 1.5em; /* TODO: change to paragraph sep */
  background-color: oklch(var(--b2));
  border-top-width: 1px;
  border-bottom-width: 1px;
  grid-template-rows: 1fr;
}

/* TODO: make the top margin of the first paragraph of components (e.g. definition) 0 */

p:has(+ .reference-container) {
  margin-bottom: 0;
}

math-field {
  outline: 2px dashed lightgray;
  /* border-radius: 4px; */
  /* background: rgba(251,	187,	182, .1);  */
}

math-field:not(:defined) {
  display: none !important;
  /* outline: 2px dashed red !important; */
}
