<div>
  <div>
    <p>Do you know the answer to this? (Hint: it's 0)</p>
    <div hx-get="/free-response/JwVevKrgnyz7YTTjJR2Sn" hx-trigger="load" hx-swap="none" 
    hx-select-oob=
    "#fr-field-JwVevKrgnyz7YTTjJR2Sn:textContent,#fr-style-JwVevKrgnyz7YTTjJR2Sn:textContent" 
    hx-ext="debug">
      <math-field id="fr-field-JwVevKrgnyz7YTTjJR2Sn" name="fr-field-JwVevKrgnyz7YTTjJR2Sn" 
      hx-post="/free-response/JwVevKrgnyz7YTTjJR2Sn" hx-trigger=
      "click from:#fr-button-auMmVt4zxnL-bCR7StSzW" hx-select-oob=
      "#fr-style-JwVevKrgnyz7YTTjJR2Sn:textContent,#fr-alerts-JwVevKrgnyz7YTTjJR2Sn:innerHTML" 
      style=      "display: block"></math-field><style id="fr-style-JwVevKrgnyz7YTTjJR2Sn"></style>
      <div id="fr-alerts-JwVevKrgnyz7YTTjJR2Sn">

      </div>
    </div>
  </div>
  <button class="btn" id="fr-button-auMmVt4zxnL-bCR7StSzW">Submit!</button>
</div>
