<div>
  <div>
    <p>What is the square-root of 3?</p>
    <div hx-get="/free-response/zZWCtZ7J3FGeC7l2awieT" hx-trigger="load" hx-swap="none" 
    hx-select-oob=
    "#fr-field-zZWCtZ7J3FGeC7l2awieT:textContent,#fr-style-zZWCtZ7J3FGeC7l2awieT:textContent" 
    hx-ext="debug">
      <math-field id="fr-field-zZWCtZ7J3FGeC7l2awieT" name="fr-field-zZWCtZ7J3FGeC7l2awieT" 
      hx-post="/free-response/zZWCtZ7J3FGeC7l2awieT" hx-trigger=
      "click from:#fr-button-YdPhBaK5eigz6xLy8_Ozh" hx-select-oob=
      "#fr-style-zZWCtZ7J3FGeC7l2awieT:textContent,#fr-alerts-zZWCtZ7J3FGeC7l2awieT:innerHTML" 
      style=      "display: block"></math-field><style id="fr-style-zZWCtZ7J3FGeC7l2awieT"></style>
      <div id="fr-alerts-zZWCtZ7J3FGeC7l2awieT">

      </div>
    </div>
    <p>What is the square-root of 16?</p>
    <div hx-get="/free-response/AdAG-dcDP_HhzDTtDJN_n" hx-trigger="load" hx-swap="none" 
    hx-select-oob=
    "#fr-field-AdAG-dcDP_HhzDTtDJN_n:textContent,#fr-style-AdAG-dcDP_HhzDTtDJN_n:textContent" 
    hx-ext="debug">
      <math-field id="fr-field-AdAG-dcDP_HhzDTtDJN_n" name="fr-field-AdAG-dcDP_HhzDTtDJN_n" 
      hx-post="/free-response/AdAG-dcDP_HhzDTtDJN_n" hx-trigger=
      "click from:#fr-button-YdPhBaK5eigz6xLy8_Ozh" hx-select-oob=
      "#fr-style-AdAG-dcDP_HhzDTtDJN_n:textContent,#fr-alerts-AdAG-dcDP_HhzDTtDJN_n:innerHTML" 
      style=      "display: block"></math-field><style id="fr-style-AdAG-dcDP_HhzDTtDJN_n"></style>
      <div id="fr-alerts-AdAG-dcDP_HhzDTtDJN_n">

      </div>
    </div>
    <p>What is the square-root of 25?</p>
    <div hx-get="/free-response/nNne1PkQ7KRok_wfre5WH" hx-trigger="load" hx-swap="none" 
    hx-select-oob=
    "#fr-field-nNne1PkQ7KRok_wfre5WH:textContent,#fr-style-nNne1PkQ7KRok_wfre5WH:textContent" 
    hx-ext="debug">
      <math-field id="fr-field-nNne1PkQ7KRok_wfre5WH" name="fr-field-nNne1PkQ7KRok_wfre5WH" 
      hx-post="/free-response/nNne1PkQ7KRok_wfre5WH" hx-trigger=
      "click from:#fr-button-YdPhBaK5eigz6xLy8_Ozh" hx-select-oob=
      "#fr-style-nNne1PkQ7KRok_wfre5WH:textContent,#fr-alerts-nNne1PkQ7KRok_wfre5WH:innerHTML" 
      style=      "display: block"></math-field><style id="fr-style-nNne1PkQ7KRok_wfre5WH"></style>
      <div id="fr-alerts-nNne1PkQ7KRok_wfre5WH">

      </div>
    </div>
    <p>What is the square-root of 36?</p>
    <div hx-get="/free-response/sF1wkj-ZJRU_G4beOF18c" hx-trigger="load" hx-swap="none" 
    hx-select-oob=
    "#fr-field-sF1wkj-ZJRU_G4beOF18c:textContent,#fr-style-sF1wkj-ZJRU_G4beOF18c:textContent" 
    hx-ext="debug">
      <math-field id="fr-field-sF1wkj-ZJRU_G4beOF18c" name="fr-field-sF1wkj-ZJRU_G4beOF18c" 
      hx-post="/free-response/sF1wkj-ZJRU_G4beOF18c" hx-trigger=
      "click from:#fr-button-YdPhBaK5eigz6xLy8_Ozh" hx-select-oob=
      "#fr-style-sF1wkj-ZJRU_G4beOF18c:textContent,#fr-alerts-sF1wkj-ZJRU_G4beOF18c:innerHTML" 
      style=      "display: block"></math-field><style id="fr-style-sF1wkj-ZJRU_G4beOF18c"></style>
      <div id="fr-alerts-sF1wkj-ZJRU_G4beOF18c">

      </div>
    </div>
    <p>What is the square-root of 49?</p>
    <div hx-get="/free-response/NUTZtdbhHUDewDhzlXKU9" hx-trigger="load" hx-swap="none" 
    hx-select-oob=
    "#fr-field-NUTZtdbhHUDewDhzlXKU9:textContent,#fr-style-NUTZtdbhHUDewDhzlXKU9:textContent" 
    hx-ext="debug">
      <math-field id="fr-field-NUTZtdbhHUDewDhzlXKU9" name="fr-field-NUTZtdbhHUDewDhzlXKU9" 
      hx-post="/free-response/NUTZtdbhHUDewDhzlXKU9" hx-trigger=
      "click from:#fr-button-YdPhBaK5eigz6xLy8_Ozh" hx-select-oob=
      "#fr-style-NUTZtdbhHUDewDhzlXKU9:textContent,#fr-alerts-NUTZtdbhHUDewDhzlXKU9:innerHTML" 
      style=      "display: block"></math-field><style id="fr-style-NUTZtdbhHUDewDhzlXKU9"></style>
      <div id="fr-alerts-NUTZtdbhHUDewDhzlXKU9">

      </div>
    </div>
  </div>
  <button class="btn" id="fr-button-YdPhBaK5eigz6xLy8_Ozh">Submit!</button>
</div>
